h1 {
    position: static;
    top: 100;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .positioned {
    position: static;
    background-color: rgb(195, 243, 227);
  }
  .footerDiv {
    position: static;
    font-family: 'Montserrat', sans-serif;
  }
  .mainDiv {
    text-align: left;
    padding-left: 50px;
    padding-top: 5%;
  }
  
  ul {
    text-align: left;
    display: inline-block;
  }
  
  .footerDiv {
    padding-bottom: 5%;
  }
  
  .col {
    background: rgb(219, 100, 100);
    border: 2px solid rgb(249, 245, 245);
    align-items: left;
    justify-content: left;
    color: rgb(233, 172, 172);
  }
  
  div .text-center {
    justify-content: left;
  }
  
  section {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .textSpan {
    padding-top: 30px;
  }
  
  #subheader3 {
    position: absolute;
  }

  .boxesDiv {
    display: flex;
    padding: 10px;
  }
  #c1 {
    border: 1px dotted rgb(230, 113, 230);
    margin: 2px;
    width: 10vw;
    height: 10vh;
  }
  #c2 {
    border: 5px solid rgb(226, 181, 138);
    background-color: rgb(194, 237, 213);
    margin: 50px;
    width: 20vw;
    height: 20vh;
  }
  #c3 {
    border: 15px solid rgb(231, 150, 204);
    background-color: rgb(228, 120, 120);
    padding: 10px;
    width: 20vw;
    height: 20vh;
  }
  
  #c4 {
    border-radius: 1em;
    background: rgb(231, 150, 204);
    padding: 10px 20px 10px 20px;
    margin: 100px;
    width: 20vw;
    height: 20vh;
  }
  
  #c5 {
    border: 5px solid rgb(226, 181, 138);
    background-color: rgb(194, 237, 213);
    margin: 50px;
    width: 20vw;
    height: 20vh;
  }

  #c6 {
    border-radius: 1em;
    background: rgb(231, 150, 204);
    padding: 10px 20px 10px 20px;
    margin: -20px;
    width: 20vw;
    height: 20vh;
  }

  #c7 {
    border-radius: 5em;
    background: rgb(231, 150, 204);
    padding: 10px 20px 10px 20px;
    margin: -20px;
    width: 20vw;
    height: 20vh;
  }

  #c8 {
    border: 1px dotted rgb(230, 113, 230);
    margin: 2px;
    width: 10vw;
    height: 10vh;
  }

  #c9 {
    border: 5px solid rgb(226, 181, 138);
    background-color: rgb(194, 237, 213);
    margin: 50px;
    width: 20vw;
    height: 20vh;
  }